//     Extra large ≥1200px
@media screen and (max-width: 1200px) {
	.container {
		max-width: 1140px;
		padding: 0 20px;
	}
}
//       large ≥992px
@media screen and (max-width: 992px) {
	.container {
		max-width: 960px;
		padding: 0 10px;
	}
}
//       Medium ≥768px
@media screen and (max-width: 768px) {
	.container {
		max-width: 720px;
	}
}
//       Small ≥576px
@media screen and (max-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media screen and (max-width: 335px) {
	.heading {
		margin: 0 0 35px 0;
		&__title {
			margin: 0 0 25px 0;
			font-size: 30px;
		}
		&__subtitle-logo {
			max-width: 189px;
			margin: 0 auto 20px auto;
		}
		&__subtitle {
			display: block;
			margin: 0 auto;
			max-width: 730px;
			text-align: center;
		}
	}
}

//  //       Extra small <576px
//  // сделующие медиа запросы
// @media screen and (max-width: 576px) {
// 	.container {
// 		max-width: 90%;
// 	}
// }
