.promo {
	min-height: 100vh;
	flex: 0 1 100vh;
	// display: flex;
	// overflow: hidden;
	color: $color-white;
	a {
		color: $color-white;
	}

	&__wrapper {
		position: relative;
		max-height: 100vh;
	}

	&__wrapper-content {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&__wrapper-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 100%;
		z-index: 5;
	}

	&__content {
		margin-top: -50px;
		margin-left: auto;
		max-width: 800px;
	}

	&__logo {
		margin: 0 auto 30px auto;
		max-width: 90px;
		img {
			max-width: 100%;
		}
	}

	&__title {
		margin: 0 0 20px 0;
		text-align: center;
		font-family: $font-family-kurale;
		font-size: 45px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__sublogo {
		max-width: 192px;
		margin: 0 auto 20px auto;
		img {
			max-width: 100%;
		}
	}

	&__subtitle {
		margin: 0 0 30px 0;
		text-align: center;
		font-size: 15px;
		line-height: 22px;
		span {
			display: block;
		}
	}

	&__button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 60px;
		margin: 0 auto 20px auto;
		border-radius: 0 0 10px 10px;
		transition: all 0.8s ease 0s;
		overflow: hidden;
		// display: block;
		// max-width: 250px;
		// margin: 0 auto;
		// padding: 20px 0;
		// text-align: center;
		// font-size: 17px;
		// text-transform: uppercase;
		// border: 1px solid $color-white;
		// border-radius: 3px;
	}

	&__button:hover &__button-wawes {
		top: -50px;
	}
	&__button:hover {
		border-radius: 10px;
		transition: all 0.8s ease 0.2s;
		box-shadow: 0 0 40px rgba(209, 169, 84, 0.6);
	}

	// кнопка волнами
	&__button-text {
		position: relative;
		z-index: 1;
		color: $color-black;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 8px;
	}

	&__button-wawes {
		position: absolute;
		top: 0;
		left: 0;
		width: 280px;
		height: 280px;
		background: $color-gold;
		box-shadow: inset 0 0 50px rgba(209, 169, 84, 0.5);
		transition: all 0.8s ease 0s;
	}
	&__button-wawes::before,
	&__button-wawes::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 250%;
		height: 250%;
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	&__button-wawes::before {
		background: $color-black;
		border-radius: 48%;
		animation: waves 5s infinite linear;
	}

	&__button-wawes::after {
		background: rgba(209, 169, 84, 0.5);
		border-radius: 44%;
		animation: waves 10s infinite linear;
	}
	@keyframes waves {
		0% {
			transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
		}

		100% {
			transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
		}
	}

	//-------------------------> Стилизация конкретного слайдера
	&__slider {
		position: relative;
		overflow: hidden;
		max-height: 100vh;

		// min-width: 0;

		& .slick-arrow {
			position: absolute;
			margin: -25px 0 0 0;
			top: 50%;
			z-index: 10;
			font-size: 0;
			width: 25px;
			height: 50px;
		}

		& .slick-arrow.slick-prev {
			left: 30px;
			background: url(../img/1_promo/promo__slider/sl-arrow_l.svg) 0 0 / 100% no-repeat;
		}

		& .slick-arrow.slick-next {
			right: 30px;
			background: url(../img/1_promo/promo__slider/sl-arrow_r.svg) 0 0 / 100% no-repeat;
		}

		/* Точки (булиты) */
		& .slick-dots {
			position: absolute;
			margin: 0 0 0 -60px;
			left: 50%;
			bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& .slick-dots li {
			list-style: none;
			margin: 0 10px;
		}
		/* Активная точка */
		& .slick-dots li.slick-active button {
			background-color: transparent;
			border: 2px solid $color-white;
		}
		/* Элемент точки */
		& .slick-dots li button {
			font-size: 0;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $color-white;
		}
	}

	&__slide {
		// overflow: hidden;
		// min-width: 0;

		img {
			max-height: 100%;
			// max-width: 100%;
			// object-fit: cover;
			// transform: scale(1.2);
			// transition: all 1s ease-out;
		}
	}
}
//<-----------------------конец cтилизации конкретного слайдера

.header {
	&__navigation {
		// margin: 0 0 100px 0; // изменил
		margin: -110px 0 0 0;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 20px 0;
	}

	&__list {
		margin: 0 0 0 40px;
	}

	&__list:first-child {
		margin: 0;
	}

	&__link {
		// font-size: 16px;
		// line-height: 16px;
		// letter-spacing: 0.05em;
		// text-transform: uppercase;
	}
}

//-----------------> menu burger
.wrapper-menu {
	display: none;
}

//<----------- конец menu burger
.title {
}
.button {
}
.slider {
}

/* Slick Слайдер */
.slick-slider {
	// margin: 0 -15px;
	position: relative;
	// z-index: 1;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: center;
	// justify-content: space-around;
	// justify-content: space-between;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

// анимация меню
.bubbly-button {
	font-family: "Helvetica", "Arial", sans-serif;
	display: inline-block;
	font-size: 1em;
	padding: 5px 10px;
	margin-top: 100px;
	margin-bottom: 60px;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	color: $button-text-color;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	// box-shadow: 0 2px 25px rgba(209, 169, 84, 0.5); // убрал свечение

	&:focus {
		outline: 0;
	}

	&:before,
	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 140%;
		height: 100%;
		left: -20%;
		z-index: -1000;
		transition: all ease-in-out 0.5s;
		background-repeat: no-repeat;
	}

	&:before {
		display: none;
		top: -75%;
		background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
			radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
			radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%);
		background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
		//background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
	}

	&:after {
		display: none;
		bottom: -75%;
		background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
			radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%),
			radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%);
		background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
		//background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}

	&:active {
		transform: scale(0.9);
		background-color: darken($button-bg, 5%);
		box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
	}

	&.animate {
		&:before {
			display: block;
			animation: topBubbles ease-in-out 0.75s forwards;
		}
		&:after {
			display: block;
			animation: bottomBubbles ease-in-out 0.75s forwards;
		}
	}
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}
