@media screen and (max-width: 600px) {
	.blog {
		&__content {
			flex-direction: column;
		}

		&__card {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			text-align: left;
			margin: 0 0 30px 0;
			flex: 1 1 100%;
			max-width: 350px;
		}

		&__card:last-child {
			margin: 0;
		}

		&__card-image {
			max-width: 100%;
			margin: 0 0 20px 0;
			img {
				max-width: 100%;
			}
		}

		&__card-title {
			margin: 0 0 20px 0;
			text-align: left;
			text-transform: uppercase;
			font-family: $font-family-kurale;
			font-size: 25px;
			font-weight: 700;
		}

		&__card-text {
			margin: 0 0 20px 0;
		}

		&__link {
			text-transform: uppercase;
			color: $color-black;
			cursor: pointer;
		}
	}
}
