$color-black: #000;
$color-white: #fff;
$color-gold: #d1a954;
$font-family-open: "Open Sans", sans-serif;
$font-family-kurale: "Kurale", serif;

$fuschia: #d1a954;
$button-bg: $fuschia;
$button-text-color: $color-white;
$baby-blue: #f8faff;
